@charset "UTF-8";

/* =======================================================
 *   ページ全体
 * ======================================================= */

/* =======================================================
 *   ヘッダー
 * ======================================================= */

/* =======================================================
 *   メインコンテンツ
 * ======================================================= */

/* =======================================================
 *   フッター
 * ======================================================= */

footer {
	text-align: center;
	position: relative;
	bottom: 0px;
	padding-bottom: 10px;
	background: white;
}

/* =======================================================
 *   スペシャル
 * ======================================================= */