
@charset "UTF-8";

/* =======================================================
 *   ページ全体
 * ======================================================= */

/* 背景色設定 */
body {
	background-size: contain;
	background-color: #A0F2FF
}

/* =======================================================
 *   ヘッダー
 * ======================================================= */

/* 文字のフォント */
/* トップページ */
.demo {
    color: #FF0000;
}


#title {
  font-size: 30px;
	/* 水平方向の中央揃え */
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}

/* =======================================================
 *   メインコンテンツ
 * ======================================================= */

/* =======================================================
 *   フッター
 * ======================================================= */

.copyright {
	text-align: center;
	position: relative;
	bottom: 0px;
	padding-bottom: 0px;
	background: white;
}

/* =======================================================
 *   スペシャル
 * ======================================================= */